{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Blabber{% endblock %}</title>
  {% bootstrap_css %}
  {% bootstrap_javascript jquery=True %}
  <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
  {% block extra_css %}{% endblock %}
</head>
<body>
  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation"><a href="{% url "about" %}">About</a></li>
          <li role="presentation"><a href="{% url "recent_statuses" %}">Recent</a></li>
          <li role="presentation"><a href="{% url "all_statuses" %}">All Statuses</a></li>
        </ul>
      </nav>
      <h3 class="text-muted"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Blabber</h3>
    </div>





  <div style="float: right;">
    {% if user.is_authenticated %}
    Logged in as {{ user.username }} - <a href="{% url 'new_status' %}">Post a status</a>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login'%}?next={{request.path}}">Login</a>
    {% endif %}
  </div>
  <h1><a href="/">Blabber!</a></h1>
  {% bootstrap_messages %}
  {% block content %}
  {% endblock %}
  <footer>Created in TIY Durham Python Cohort 5. Boom!</footer>
</div>
</body>
</html>
